alembic==1.7.5
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cysimdjson==21.4a4
Cython==0.29.24
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpickle==2.0.0
Mako==1.1.6
MarkupSafe==2.0.1
orjson==3.6.4
pycodestyle==2.8.0
pytest-httpserver==1.0.2
PyYAML==6.0
requests==2.26.0
snakeviz==2.1.1
SQLAlchemy==1.4.27
toml==0.10.2
tornado==6.1
ujson==4.2.0
urllib3==1.26.7
Werkzeug==2.0.2
