body{
    font-family: sans-serif;
    margin: 0px;
    grid-template-columns: auto;
    grid-template-rows: 0.01fr auto 0.1fr 0.1fr;
    grid-template-areas: 
    "nav"
    "main"
    "footer" 
    "bottom"
    ;
    display:  grid;
    height: 100vw;
    width: 100vw;
    background-color: white;
    color: black;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
/* Nav Styling */

header{
    grid-area: "nav";
}
header h1{
    margin: .5em;
}
nav ul{
    font-size: 0;
    margin: 1em;
}
header a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline-block;
    padding: .5em;
    position: relative;
    border-right: 1px solid white;
    font-size: medium;
}
nav ul li:hover{
    background-color: #DA0037;
}
nav{
    width: 100%;
}
nav ul{
    padding: 0px;
    background-color: #313131;
    border-bottom: 1px solid #DA0037;
    margin-left: 1em;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

/* Main Styling */

@media screen and (min-width: 980px) /* Desktop */ {
    .data_card{
        background-color: white;
        margin: 1em;
        border: 1px #DA0037 solid;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 50%;
    }
    }
    @media screen and (max-width: 980px) /* Mobile */ {
        .data_card{
            background-color: white;
            margin: 1em;
            border: 1px #DA0037 solid;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            width: 90%;
        }
        }
    
.flex_container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch ;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1em;
}
.data_card p{
    margin: 1em;
}
.data_card ul{
    list-style: none;
    padding: 0px;
}
#score_display {
    background-color: white;
    color: black;
    border: 0px;
}
.data_card h2, .data_card h3{
    text-align: center;
    background-color: #313131;
    color: white;
    margin: 0px;
    padding: 1em;
    border-bottom: 1px solid #da0037;

}
.data_card span{
    margin-left: 50%;
    margin-right: 50%;
}
input{
    border: 1px solid #313131;
}

button{
    background-color: #DA0037;
    padding: 0.5em;
    color: white;
    border: 0px;
    margin: 0.5em;
}
button:hover{
    background-color: #313131;
}
canvas{
    padding: 1em;
}
#submit{
    background-color: #DA0037;
    border: 0px;
    color: white;
    padding: 0.5em;
}
#submit:hover{
    background-color: #313131;
}
code{
    background-color: #f4f4f4;
    border: 1px solid #DA0037;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    margin: 1em;
}
.flashes li{
    background-color: red;
    padding: 1em;
    color: white;
}
/* Footer Styling */
footer{
    background-color: #313131;
    grid-area: "footer";
    border-top: 1px solid #DA0037;
    height: 100%;
}
footer ul li{
    display: inline-block;
    margin-left: 0.5em;
}
footer ul li a{
    text-decoration: none;
    color:  white;
}

.bottom{
    grid-area: bottom;
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}
.bottom p{
    padding: .25em;
}

/* Misc Styling */

.error_card{
    width: 75%;
    display: block;
    margin: auto;
    padding: 1em;
    border: 1px solid #DA0037;
    background-color: #313131;
    color: white;
    margin-top: 2em;
}