<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/master.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.3/sr-1.0.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.3/sr-1.0.0/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js" integrity="sha256-bj8JMRF/ShthPyTNKaHVG4LwnGL/KNnJ5CAASgZE99I=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1 style="margin-left: 0.5em;">Advanced CTF Scoring System</h1>
        <nav>
            <ul>
                {% if current_user.is_anonymous %}
                <li><a href="{{url_for('ui.login')}}">Login</a></li>
                <li><a href="{{url_for('ui.register')}}">Register</a></li>
                {% else %}
                <li><a href="{{url_for('ui.index')}}">Dashboard</a></li>
                <li><a href="{{url_for('ui.alerts')}}">Alert History</a></li>
                <!--- This func is broke and not needed currently
                <li><a href="{{url_for('ui.configure')}}">Configure</a></li>
                -->
                <li><a href="{{url_for('ui.logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer style="margin-top: 2em ;">
        <ul>
            <li><a href="">Advanced CTF Scoring System</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Source</a></li>
        </ul>
    </footer>
</body>
</html>