{% extends "base.html" %}
{% block content %}
<main class="flex_container">
    <figure class="data_card" style="width: 45%;">
        <h2>Welcome, {{current_user.username}}</h2>
        <h2 style="background-color: white; color: black; border: 0px;">
            Current Score:
        </h2>
        <h3 id="score_display">
            0
        </h3>
        <figure>
        </figure>
    </figure>
    <figure class="data_card" style="width: 45%;">
        <h2>
            Alert Stats
        </h2>
        <ul style="margin:1em;">
            <li id="total_alerts_display">Number of Alerts: 0</li>
            <li id="alert_max_display">Highest Alert Score: 0</li>
            <li id="average_alert_display">Average Alert Score: 0</li>
            <li id="alert_min_display">Lowest Alert Score: 0</li>
        </ul>
        <a href="/alerts" style="margin:0.5em;">
            <button>View All Alerts</button>
        </a>
    </figure>
    {% for ids in active_ids %}
    <figure class="data_card">
        <h2>Most Recent Alerts: {{ids}} </h2>
        <p>
            Click on any alert in this table to view a breakdown of 
            how the score was calculated and every aspect of the alert. 
        </p>
        <table id="{{ids}}_table" class="display" style="width: 90%;">
            <thead>
                <tr>
                    <th>
                        Timestamp
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Severity
                    </th>
                    <th>
                        Targeted Asset
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
        </table>
    </figure>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
                /* Called on ajax error which, should occur when there are no alerts associated
                with the given user */
                var no_data = document.getElementById("no_data");
                no_data.style = ("visibility: visible;");
            }
            {{ids}}_table = $('#{{ids}}_table').DataTable({
                "ajax": {
                    "url": "/api/ids_events/{{ids}}/{{current_user.id}}/500",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": 'timestamp' },
                    { "data": 'message' },
                    { "data": 'category' },
                    { "data": 'severity' },
                    { "data": 'dest_ip' },
                    {
                        "data": 'score',
                    },
                    {
                        "data": 'id',
                        "visible": false

                    }
                ],
                "info": false
            }
            );
        });
        setInterval(function () {
            {{ids}}_table.ajax.reload();
            {{ids}}_table.draw();
        }, 2000);
        $('#{{ids}}_table').on('click', 'tbody tr', function () {
                alert_id = {{ids}}_table.row(this).data().id;
                window.location.href = ("/alert/" + alert_id)
            });

    </script>
    {% endfor %}
    <figure class="data_card">
        <h2>
            IDS Stats
        </h2>
        <table id="ids_stats_table" style="width: 100%; padding: 1em;" class="display">
            <thead>
                <tr>
                    <th>
                        IDS
                    </th>
                    <th>
                        Number Of Alerts
                    </th>
                    <th>
                        Average Alert Score
                    </th>
                    <th>
                        Highest Alert Score
                    </th>
                    <th>
                        Lowest Alert Score
                    </th>
                    <th>
                        Total Score
                    </th>
                </tr>
            </thead>
        </table>
        <script>
            $(document).ready(function () {
                table = $('#ids_stats_table').DataTable({
                    "ajax": {
                        "url": "/api/ids/stats/{{current_user.id}}",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": 'ids_name' },
                        { "data": 'alert_count' },
                        { "data": 'alert_avg' },
                        { "data": 'alert_max' },
                        { "data": 'alert_min' },
                        { "data": 'total_score' },
                    ],
                    "paging": false,
                    "searching": false,
                    "info": false
                }
                );
            });
            setInterval(function () {
                table.ajax.reload();
                table.draw();
            }, 2000);
            $('#alerts_table').on('click', 'tbody tr', function () {
                    alert_id = table.row(this).data().id;
                    window.location.href = ("/alert/" + alert_id)
                });
        </script>
    </figure>
    <figure class="data_card">
        <h2>
            Alerts By Category
        </h2>
        <div style="max-width: 95%; margin: auto; display: block;">
            <canvas id="cat_chart"></canvas>
        </div>
    </figure>
    <script>
        var category_elem = document.getElementById("cat_chart");
        var category_chart = new Chart(category_elem, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 3,
                    borderColor: '#DA0037',
                    backgroundColor: '#DA0037',
                    label: 'Number of Alerts',
                    pointRadius: 0,
                    yAxisID: "A"
                }]
            },
            options: {
                responsive: true,
                scales: {
                    A: {
                        type: 'logarithmic',
                        position: 'left',
                        ticks: {
                            maxTicksLimit: 10,
                            color: "black"
                        },
                        fontColor: "black"
                    },
                    x: {
                        ticks:{
                            color: "black"
                        }
                    }

                }
            }
        });

        // this post id drives the example data

        // logic to get new data
        var getData = function () {
            category_chart.data.labels = []
            category_chart.data.datasets[0].data = []
            $.ajax({
                url: $SCRIPT_ROOT + "api/cats/" + {{ current_user.id }},
            success: function (data) {
                // process your data to pull out what you plan to use to update the chart
                // e.g. new label and a new data point
                // add new label and data point to chart's underlying data structures
                data.forEach(point => {
                    category_chart.data.labels.push(point["category"])
                    category_chart.data.datasets[0].data.push(point["count"])
                });

        // re-render the chart
        category_chart.update();
                }
            });
        };

        // get new data every 3 seconds
        setInterval(getData, 3000);
    </script>
    <figure class="data_card">
        <h2>
            Alerts By Severity
        </h2>
        <div style="max-width: 95%; margin: auto; display: block;">
            <canvas id="severity_chart"></canvas>
        </div>
    </figure>
    <script>
        var severity_elem = document.getElementById("severity_chart");
        var severity_chart = new Chart(severity_elem, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 3,
                    borderColor: '#DA0037',
                    backgroundColor: '#DA0037',
                    label: 'Number of Alerts',
                    pointRadius: 0,
                    yAxisID: "A"
                }]
            },
            options: {
                responsive: true,
                scales: {
                    A: {
                        type: 'logarithmic',
                        position: 'left',
                        ticks: {
                            maxTicksLimit: 10,
                            color: "black"
                        },
                        color: "black"
                    },
                    x:{
                        ticks:{
                            color: "black"
                        }
                    }
                }
            }
        });

        // this post id drives the example data

        // logic to get new data
        var getData = function () {
            severity_chart.data.labels = []
            severity_chart.data.datasets[0].data = []
            $.ajax({
                url: $SCRIPT_ROOT + "api/score/severities/" + {{ current_user.id }},
            success: function (data) {
                // process your data to pull out what you plan to use to update the chart
                // e.g. new label and a new data point
                // add new label and data point to chart's underlying data structures
                data.forEach(point => {
                    severity_chart.data.labels.push(point["severity"] + " (" + point["source"] + ")")
                    severity_chart.data.datasets[0].data.push(point["count"])
                });

        // re-render the chart
        severity_chart.update();
                }
            });
        };

        // get new data every 3 seconds
        setInterval(getData, 3000);
    </script>
    <figure class="data_card">
        <h2>
            5 Most Common Alerts
        </h2>
        <div style="max-width: 90%; margin: auto; display: block;">
            <canvas id="attack_chart"></canvas>
        </div>
    </figure>
    <script>
        var rand_col = function () {
            return "#" + Math.floor(Math.random() * 16777215).toString(16);
        }
        var attack_elem = document.getElementById("attack_chart");
        var attack_chart = new Chart(attack_elem, {
            type: 'pie',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 0,
                    borderColor: '#313131',
                    backgroundColor: ["red", "blue", "green", "grey", "orange"],
                    label: 'Number of Alerts',
                    pointRadius: 0,
                    yAxisID: "y"
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                legend: {
                    display: true,
                    font: {
                        size: 18
                    }
                },
                labels: {
                    display: false,
                    font: {
                        size: 18
                    }
                },
                scales: {
                    y: [{
                        ticks: {
                            color: "black"
                        }
                    }]
                }
            }
        });

        // this post id drives the example data

        // logic to get new data
        var getData = function () {
            attack_chart.data.labels = []
            attack_chart.data.datasets[0].data = []
            $.ajax({
                url: $SCRIPT_ROOT + "api/score/message/" + {{ current_user.id }},
            success: function (data) {
                // process your data to pull out what you plan to use to update the chart
                // e.g. new label and a new data point
                // add new label and data point to chart's underlying data structures
                data.forEach(point => {
                    attack_chart.data.labels.push(point["message"] + " (" + point["source"] + ")")
                    attack_chart.data.datasets[0].data.push(point["count"])
                });

        // re-render the chart
        attack_chart.update();
                }
            });
        };

        // get new data every 3 seconds
        setInterval(getData, 3000);
    </script>
    <figure class="data_card">
        <h2>
            Score Progression
        </h2>
        <div style="max-width: 90%; margin: auto; display: block;">
            <canvas id="score_chart"></canvas>
        </div>
    </figure>
    <script>
        var score_elem = document.getElementById("score_chart");
        var score_chart = new Chart(score_elem, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Score',
                    yAxisID: 'A',
                    data: [],
                    tension: 0.4,
                    backgroundColor: "#da0037",
                    borderColor: "#da0037"
                }, {
                    label: 'Total Alerts',
                    yAxisID: 'A',
                    data: [],
                    tension: 0.4,
                    backgroundColor: "blue",
                    borderColor: "blue"
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    A: {
                        type: 'logarithmic',
                        position: 'left',
                        ticks: {
                            maxTicksLimit: 10,
                            color: "black"
                        }
                    },
                    x:{
                        ticks:{
                            color: "black"
                        }
                    }

                }
            }
        });

        // this post id drives the example data

        // logic to get new data
        var getData = function () {
            score_chart.data.labels = []
            score_chart.data.datasets[0].data = []
            score_chart.data.datasets[1].data = []
            $.ajax({
                url: $SCRIPT_ROOT + "api/score/time/" + {{ current_user.id }},
            success: function (data) {
                // process your data to pull out what you plan to use to update the chart
                // e.g. new label and a new data point
                // add new label and data point to chart's underlying data structures
                data.forEach(point => {
                    score_chart.data.labels.push(point["timestamp"].slice(17, 26))
                    score_chart.data.datasets[0].data.push(point["score"])
                    score_chart.data.datasets[1].data.push(point["total_alerts"])
                });

        // re-render the chart
        score_chart.update();
                }
            });
        };

        // get new data every 3 seconds
        setInterval(getData, 3000);
    </script>
</main>
<script>
    var $SCRIPT_ROOT = {{ request.url_root| tojson | safe}};
    async function get_score() {
        const api_json = await (fetch($SCRIPT_ROOT + 'api/score/{{current_user.id}}'));
        const response_json = await api_json.json();
        if (response_json) {
            document.getElementById("score_display").innerHTML = response_json["current_score"].toFixed(3)
            document.getElementById("total_alerts_display").innerHTML = "Total Number of Recorded IDS Alerts: " + response_json["total_alerts"]
            document.getElementById("average_alert_display").innerHTML = "Average Alert Score: " + response_json["alert_average"].toFixed(2)
            document.getElementById("alert_max_display").innerHTML = "Highest Alert Score: " + response_json["alert_max"].toFixed(2)
            document.getElementById("alert_min_display").innerHTML = "Lowest Alert Score: " + response_json["alert_min"].toFixed()
        }
    }
    setInterval(get_score, 2000)
</script>
{% endblock %}