{% extends "base.html" %}
{% block content %}
<main class="flex_container">
    <figure class="data_card" style="width: 45%;">
        <h2>Welcome back, {{ current_user.username}}</h2>
        <h2>
            Current Score
        </h2>
        <h3 id="score_display">
            0
        </h3>
        <figure>
        </figure>
    </figure>
    <figure class="data_card" style="width: 45%;">
        <h2>
            System Stats
        </h2>
        <ul style="margin:0.5em;">
            <li id="total_alerts_display">Total Number of Recorded IDS Alerts: 0</li>
            <li id="average_alert_display">Average Alert Score: 0</li>
            <li id="alert_max_display">Highest Alert Score: 0</li>
            <li id="alert_min_display">Lowest Alert Score: 0</li>
        </ul>
        <a href="/alerts" style="margin:0.5em;">
            <button>View Alert History</button>
        </a>
    </figure>
    {% for ids in active_ids %}
    <figure class="data_card" style="width: 90%;">
        <h2>Latest {{ids}} Alerts</h2>
        <table id="{{ids}}_table" class="display" style="width: 90%;">
            <thead>
                <tr>
                    <th>
                        Timestamp
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Severity
                    </th>
                    <th>
                        Targeted Asset
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
        </table>
    </figure>
    <script>
        $(document).ready(function () {
                $.fn.dataTable.ext.errMode = function( settings, helpPage, message){
                    /* Called on ajax error which, should occur when there are no alerts associated
                    with the given user */
                    var no_data = document.getElementById("no_data");
                    no_data.style = ("visibility: visible;");
                }
                {{ids}}_table = $('#{{ids}}_table').DataTable({
                    "ajax": {
                        "url": "/api/ids_events/{{ids}}/{{current_user.id}}/100",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": 'timestamp' },
                        { "data": 'message' },
                        { "data": 'category' },
                        { "data": 'severity' },
                        { "data": 'dest_ip' },
                        {
                            "data": 'score',
                        },
                        {
                            "data": 'id',
                            "visible": false

                        }
                    ]
                }
                );
                $('{{ids}}_table').on('click', 'tbody tr', function () {
                    alert_id = table.row(this).data().id;
                    window.location.href = ("/alert/" + alert_id)
                });
        });
        setInterval(function(){
            {{ids}}_table.ajax.reload();
            {{ids}}_table.draw();
        }, 2000);

    </script>
    {% endfor %}
    <figure class="data_card" style="width: 45%;">
        <h2>
          Alerts By Category
        </h2>
        <div style="max-width: 75%; margin: auto; display: block;">
            <canvas id="cat_chart"></canvas>
        </div>
    </figure>
    <script>
        window.onload = function (){
            const randomNum = () => Math.floor(Math.random() * 255);
            const randomRGB = () => `rgb(${randomNum()}, ${randomNum()}, ${randomNum()})`;
            var randColour = [];
            for(var i in {{all_cats | tojson | safe}}){
                randColour.push(randomRGB())
            }
            const data = {
                labels: {{all_cats | tojson | safe}},
                datasets: [{
                    label: "Alerts Per Category",
                    data: {{per_cat_count}},
                    backgroundColor: randColour,
                    hoverOffset: 4
                }]
            }
            const cat_share_config = {
                type: "pie",
                data,
                options:{}
            }

            const ids_randomNum = () => Math.floor(Math.random() * 255);
            const ids_randomRGB = () => `rgb(${ids_randomNum()}, ${ids_randomNum()}, ${ids_randomNum()})`;
            var ids_randColour = [];
            for(var x in {{active_ids | tojson | safe}}){
                ids_randColour.push(ids_randomRGB)
            }
            const ids_data = {
                labels: {{active_ids | tojson | safe}},
                datasets: [{
                    label: "Alerts by IDS",
                    data: {{ids_totals}},
                    backgroundColor: ids_randColour,
                    hoverOffset: 4
                }]
            }
            const ids_totals_config = {
                type: "pie",
                ids_data,
                options:{}
            }
            var ids_Chart = new Chart(
                document.getElementById('ids_chart'),
                ids_totals_config
            );
            var categoryChart = new Chart(
                document.getElementById('cat_chart'),
                cat_share_config
            );
    }

    </script>

</main>
<script>
    var $SCRIPT_ROOT = {{ request.url_root| tojson | safe}};      
    async function get_score(){
        const api_json = await(fetch($SCRIPT_ROOT +  'api/score/{{user_id}}'));
        const response_json = await api_json.json();
        if (response_json) {
            document.getElementById("score_display").innerHTML = response_json["current_score"]
            document.getElementById("total_alerts_display").innerHTML = "Total Number of Recorded IDS Alerts: " + response_json["total_alerts"]
            document.getElementById("average_alert_display").innerHTML = "Average Alert Score: " +  response_json["alert_average"]
            document.getElementById("alert_max_display").innerHTML = "Highest Alert Score: " +  response_json["alert_max"]
            document.getElementById("alert_min_display").innerHTML = "Lowest Alert Score: " +  response_json["alert_min"]
        }
    }
    setInterval(get_score,2000)
</script>
{% endblock %}