{% extends "base.html" %}

{% block content %}

<main class="flex_container" style="align-items: baseline;">
    <div class="data_card" style="width: 85%;">
        <h3>Register</h3>
        <p>
            Create a new account with the system here. Make sure to register the computers that you will use to interact with the CTF.
            The system uses this information to isolate attacks from different users.
            So, make sure that this information is correct if you want an accurate score. 
        </p>
        <p>  
            If you're using Linux you will be able to retrieve a list of all the IPs associated with your node by running the following commands:
        </p>
        <code>
            ip a
        </code>
        <p>or:</p>
        <code>
            ifconfig
        </code>
        <p>
            If your using Windows you can use:
        </p>
        <code>
            ipconfig
        </code>
        <p>
            Note that the IPs you register must be the ones associated with the adapter that will be used to interact with the CTF.
            Otherwise, no IDS alerts will be correctly processed. This IP should already be set as the first identifier.
        </p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <label for="registered_assets_0">Controlled IP Addresses:</label>
            <ul>
                <li style="margin: 16px;">
                    {{ form.registered_assets[0](size=32, value=user_ip) }}
                </li>
                <li style="margin: 16px;">
                    {{ form.registered_assets[1](size=32) }}
                </li>
            </ul>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if new_token %}
        <h4 style="margin: 1em;">Access Token</h4>
        <div>
            <code id="token_display" style="word-wrap: break-word; max-width: 75vw; background-color: #f4f4f4;">{{new_token}}</code>
        </div>
        <button onclick="CopyToClip()" id="copy_button">Copy Key</button>
        <p>
            <em>Note:</em> This token will only be shown once, so make sure it's stored in a secure location.
            Use it to access your new account via the <a href="/login">login</a> page
        </p>
        {% endif %}
    </div>
</main>
<script>
    function CopyToClip() {
        var copy_code = document.getElementById("token_display");
        var copy_button = document.getElementById("copy_button");
        var copy_text = copy_code.textContent;
        navigator.clipboard.writeText(copy_text);
        copy_button.innerHTML = "Copied To Clipboard";
    }
</script>

{% endblock %}